@model IEnumerable<DNACityGuide.Models.RezervacijaTura>

@{
    ViewData["Title"] = "Rezervacija tura";
}

<div class="text-center">
    <h1 class="display-4">Rezervacija tura</h1>
</div>
<div style="height: 35em; overflow: hidden">
    <img src="https://a.cdn-hotels.com/gdcs/production142/d1349/fec035f2-2e6c-4c8c-b973-23fed39bd028.jpg" style="width: 100%">
</div>